:root{
    --white:white;
    --blue: blue;
}
body{
margin:0;
padding:0;
}


/* 
--------------LOGIN ------------
--------------- */


.login{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5vh;
    height: 100%;
    width:100%;
    margin: 100px;
}
.title{
    display:grid;
    grid-template:repeat(3,100px) / repeat(5, 100px) ;
    grid-template-areas:
    "a b c . . "
    ". d e f . "
    ". . g h i ";
}
.title > .t1 {
    grid-area: a;
}
.title > .t2 {
    grid-area: b;
}
.title > .t3 {
    grid-area: c;
}
.title > .t4 {
    grid-area: d;
}
.title > .t5 {
    grid-area: e;
}
.title > .t6 {
    grid-area: f;
}
.title > .t7 {
    grid-area: g;
}
.title > .t8 {
    grid-area: h;
}
.title > .t9 {
    grid-area: i;
}
.players{
    display:grid;
    grid-template: 100px / repeat(8, 100px);
}
.ai{
    display:grid;
    grid-template: 100px / repeat(2, 100px);
}
.login > div:not(:first-child):hover {
    transform: scale(1.2);
    background-color: white;
    cursor: pointer;
  }


  /* PLAYER CREATE --------------- */
  /* ------------ */


.playerCreate{
    display:none;
    flex-direction: column;
    align-items: center;
    margin:100px;
    gap:5vh;
    text-align: center;
}
.playerCreate .in {
    display:grid;
    font-size: 1.4rem;
    font-weight: 900;
}
.playerCreate input{
    height: 50px;
    font-size: 2rem;
}
.playerCreate .box{
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);
}

.playerCreate .box .grid:hover{
    transform: scale(1.2);
    background-color: white;
    cursor: pointer;
}
.box .stuck{
    transform: scale(1.2);
    background-color: white;
    border: 3.5px solid black;
}

.playerCreate .next{
    display:grid;
    grid-template: 100px /repeat(4, 100px);
}
.next:hover {
    transform: scale(1.2);
    background-color: white;
    cursor: pointer;
}

.cont{
    gap:20vh;
    text-align: end;
}
/* 

MAIN GAMEBOARD -------------
---------
----------- */

main{
    display:none; 
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    
}
.board{
    display:grid;
    grid-template:repeat(3,100px) / repeat(3,100px);
    /* position:relative; */
}
.grid{
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
.board > .grid:hover{
    transform: scale(1.2);
    background-color: white;
    cursor: pointer;
    /* position:relative; */
}


/* 
MISC---------------------------
----------
----------- */

.hide{
    display:none;
}
.shake{
    animation-name: shakeAnim;
    animation-duration: 5s;
}

@keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }

.result{
    display: none;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}

.show{
    display:flex;
}